<h2> Freelancer Account Page </h2>
<hr>
<h3 style="color:green;"> Please log in to your account</h3>

<hr>
<%if flash[:errors]%>
    <% flash[:errors].each do |error|%>
        <p style="color:red;"> <%=error%></p>
    <%end%>
<%end%>
<%= form_for @freelancer, :url => '/loginf' do |f| %>

    <%= f.label :email %>
    <br/>
    <%= f.text_field :email %><br>
    <br/>
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password %><br>
    <br/>
    <br/>
<%= f.submit "login"%>
<%end%>


