<h2> Poster Account Page </h2>
<hr>
<h3 style="color:green;"> Please log in to your account</h3>

<%if flash[:errors]%>
<% flash[:errors].each do |error|%>
    <p style="color:red;"> <%=error%></p>
<%end%>
<%end%>
<hr>
<%= form_for @poster, :url => '/loginp' do | f | %>
<%= f.label :email %>
<br/>
<%= f.text_field :email%>
<br/>
<%= f.label :password %>
<br/>
<%= f.password_field :password %>
<br/>
<br/>
<%= f.submit "Login" %>
<%end%>
