



<% if session[:id] != nil && session[:identify] == "Poster"%>
    <div class='my-form'>
        <h1>  Profile Page: <%=@poster.first_name + " " + @poster.last_name %></h1>
        <h4> Details: </h4>
        <p> Email: <%= @poster.email %></p>
        <p> Username: <%= @poster.username %></p>
        <br><br>
        <p> Want to Edit Your Profile?</p>
        <%= link_to "Edit Profile", edit_poster_path(@poster)%>
        <p>Need a new Job Done? <%= link_to "New Job", new_job_path%></p>
        <h4> Your Jobs </h4>
        <% @poster.jobs.each do |job|%>
            <%= link_to job.job_title, job_path(job)%><br>
        <%end%>

        <h4> Your Reviews </h4>
        <% @poster.reviews.each do |rev| %>
        <p> Freelancer: <%= link_to rev.freelancer.full_name, review_path %> </p>
        <p> Rating: <%= rev.rating %> </p>
        <p> Review: <%= rev.review %><br> </p>
        <%end%>

        <% if @poster.current_contracts == nil %>
            <p> No Contracts Available</p>
        <%else%>
            <p> Contracts offered from: </p>
            <% @poster.current_contracts.each do |contract| %>
                <%= link_to contract.freelancer.full_name, contract_path(contract)%><br>
            <%end%>
        <%end%>

        <p> Want to log out of your profile?</p>
        <%= button_to "Logout", logout_path, method: :get%>
        <p> Want to Delete your Account?</p>
        <h3 style="color: Red;">CAUTION THIS WILL DELETE YOUR ENTIRE PROFILE!!!</h3>
        <%= form_for @poster, method: :delete do |f|%>
            <%= f.submit "Delete" %>
            <%end%>
    </div>  


<% elsif session[:id] != nil && session[:identify] == "Freelancer" %>
<h1>  Profile Page: <%=@poster.first_name + " " + @poster.last_name %></h1>
             
        <h4> Details: </h4>
        <p> <%= @poster.email %></p>
        <p> <%= @poster.username %></p>
        <br><br>

        <h4> Jobs </h4>
            <% @poster.jobs.each do |job|%>
                <%= job.job_title%>

                <%end%>
                <h4> Current Reviews </h4>
            <% @poster.reviews.each do |rev| %>
                <p> Freelancer: <%= rev.freelancer.first_name + rev.freelancer.first_name %> </p>
                <p> Rating: <%= rev.rating %> </p>
                <p> Review: <%= rev.review %><br> </p>
            <%end%>
<%end%>