



<% if session[:id] != nil && session[:identify] == "Poster"%>
    
        <h1>  Profile Page: <%=@poster.first_name + " " + @poster.last_name %></h1>
        <h4> Details: </h4>
        <p> <%= @poster.email %></p>
        <p> <%= @poster.username %></p>
        <br><br>
        <p> Want to Edit Something?</p>
        <%= link_to "Edit", edit_poster_path(@poster)%>
        <p> Want to log out?</p>
        <%= button_to "Logout", logout_path, method: :get%>
        <p> Want to Delete Account?</p>
        <%= form_for @poster, method: :delete do |f|%>
            <%= f.submit "Obliterate"%>
            <%end%>

        <h4> Current Jobs </h4>
        <% @poster.jobs.each do |job|%>
        <%= link_to job.job_title, job_path(job)%>

        <%end%>
<p>Need a new Job Done? <%= link_to "New Job", new_job_path%></p>
<h4> Current Reviews </h4>
    <% @poster.reviews.each do |rev| %>
        <p> Freelancer: <%= rev.freelancer.first_name + rev.freelancer.first_name %> </p>
        <p> Rating: <%= rev.rating %> </p>
        <p> Review: <%= rev.review %><br> </p>
    <%end%>


<% elsif session[:id] != nil && session[:identify] == "Freelancer" %>
<h1>  Profile Page: <%=@poster.first_name + " " + @poster.last_name %></h1>
        <h4> Details: </h4>        
<h4> Details: </h4>
        <p> <%= @poster.email %></p>
        <p> <%= @poster.username %></p>
        <br><br>
        <h4> Current Jobs </h4>
            <% @poster.jobs.each do |job|%>
                <%= job.job_title%>

                <%end%>
                <h4> Current Reviews </h4>
            <% @poster.reviews.each do |rev| %>
                <p> Freelancer: <%= rev.freelancer.first_name + rev.freelancer.first_name %> </p>
                <p> Rating: <%= rev.rating %> </p>
                <p> Review: <%= rev.review %><br> </p>
            <%end%>
<%end%>