<h1> Edit Your Job Post </h1>
<% if flash[:errors] %>
    <% flash[:errors].each do | error | %>
    <p style="color: red;">
    <%= error %>
    </p>
    <%end%>
<%end%>
<%= form_for @job do |f|%>
    <%= f.label :job_title %>
    <%= f.text_field :job_title %> <br>

    <%= f.label :job_type %>
    <%= f.text_field :job_type %> <br>

    <%= f.label :description %>
    <%= f.text_area :description %> <br>

    <%= f.label :remote%>
    <%= f.radio_button(:remote_job, true)%>
    <%=f.label(:remote_job, "Yes", value: true)%>
    <%=f.radio_button(:remote_job, false)%>
    <%=f.label(:remote_job, "No", value: false)%><br>

    <%= f.hidden_field :poster_id, :value => session[:id] %>
    <%= f.label :compensation %>
    <%= f.text_field :compensation %> <br>

    <%= f.submit %>
<%end%>