<h1> Create A New Job Post </h1>
<% if flash[:errors] %>
    <% flash[:errors].each do | error | %>
    <p style="color: red;">
    <%=error %>
    </p>
    <%end%>
<%end%>
<%= form_for @job do |f|%>
    <%= f.label :job_title %>
    <br/>
    <%= f.text_field :job_title %>
    <br/>
    <%= f.label :job_type %>
    <br/>
    <%= f.text_field :job_type %> 
    <br/>
    <%= f.label :description %>
    <br/>
    <%= f.text_area :description %>
    <br/>
    <%= f.label :remote%>
    <br/>
    <%= f.radio_button(:remote_job, true)%>
    <%=f.label(:remote_job, "Yes", value: true)%>
    <%=f.radio_button(:remote_job, false)%>
    <%=f.label(:remote_job, "No", value: false)%><br>
    <%= f.hidden_field :poster_id, :value => session[:id] %>
    <br/>
    <%= f.label :compensation %>
    <br/>
    <%= f.text_field :compensation %> <br>
    <br/>
    <%= f.submit %>
<%end%>