

<% if session[:id] != nil && session[:identify] == "Poster"%>
        <%= link_to 'Profile', poster_path(session[:id])%>
        <h1> <%=@job.job_title%> Details</h1>
        <h3> Personal Info: </h3>
        <p> Job Poster: <%= link_to "#{@job.poster.first_name + " " + @job.poster.last_name}", poster_path(@job.poster) %> </p>
        <p> Email: <%= @job.poster.email %></p><br>
        <h3> Job Info: </h3>
        <p>Title: <%= @job.job_title%> </p> 
                <p>Type: <%= @job.job_type %> </p> 
                <p>Remote: <%= @job.remote_job %> </p> 
                <p>Compensation:<%= @job.compensation %> </p> <hr>
        <h4> Do you want to do any edits or updates to your job listing?</h4>
                <%= button_to 'Edit Job', edit_job_path(@job), method: :get %>
        <h4> Do you want to remove this job from the listings?</h4>
                <%= form_for @job, method: :delete do |f|%>
                        <%= f.submit "Delete Job"%>
                <%end%>

<% elsif session[:id] != nil && session[:identify] == "Freelancer" %>
        <%= link_to 'Profile', freelancer_path(session[:id])%>
        <h1> <%=@job.job_title%> Details</h1>
        <h4> Personal Info: </h4>
        <p> Boss: <%= link_to "#{@job.poster.first_name + @job.poster.last_name}", poster_path(@job.poster) %> </p>
        <p> Email: <%= @job.poster.email %></p><br>
        <h4> Job Info: </h4>
                <p>Title: <%= @job.job_title%> </p> 
                <p>Type: <%= @job.job_type %> </p> 
                <p>Remote: <%= @job.remote_job %> </p> 
                <p>Compensation:<%= @job.compensation %> </p> <hr>
        <p> Want to make a bid? </p>
        <%= link_to 'Create Contract', new_contract_path%>
        <%session[:job] = @job.id%>
<%else%>
        <h3> Create An Account With Us so you can see the full details!!! </h3>
        <h4> See the thousands of jobs offered at this MOMENT!!! </h4>
        <h4> See the commpensations you could earn! </h4>
        <p>Title: <%= @job.job_title%> </p> 
        <p> Type: *****</p>
        <p> Remote: *****</p>
        <p> Compensation: *****</p>

<%end%>