<h1>Create your BorgLance Freelancer Account</h1>
<hr>
<% if flash[:errors] %>
    <% flash[:errors].each do | error | %>
    <li style="color: red;">
    <%=error %>
    </li>
    <%end%>
<%end%>

<%= form_for @freelancer do | f | %>
    
    <%= f.label :first_name %>
    <br/>
    <%= f.text_field :first_name %>
    <br/>
    <%= f.label :last_name %>
    <br/>
    <%= f.text_field :last_name %>
    <br/>
    <%= f.label :age %>
    <br/>
    <%= f.number_field :age %>
    <br/>
    <%= f.label :email %>
    <br/>
    <%= f.text_field :email %>
    <br/>
    <%= f.label :degree_certification_or_skills %>
    <br/>
    <%= f.text_field :certifications %>
    <br/>
    <%= f.label :bio %>
    <br/>
    <%= f.text_area :bio %>
    <br/>
    <%= f.label :username %>
    <br/>
    <%= f.text_field :username %>
    <br/>
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password %>
    <br/>
    <%= f.label :password_confirmation%>
    <br/>
    <%= f.password_field :password_confirmation%>
    <br/>
    <%= f.submit %>
    
<%end%>
