<h1>Welcome to BorgLancer</h1>
<hr>
<hr>
<h1><%= @freelancer.full_name%></h1>
<hr>
<h2><%= @freelancer.age %></h2>
<h3> Want to edit your profile?</h3>
<%= link_to "Edit Profile", edit_freelancer_path(@freelancer.id)%>
<hr/>
<h3>Hey <%= @freelancer.first_name %>!!! Want to see reviews from fellow freelancers about job posters here?</h3>
<%= link_to "Reviews", reviews_path %>
<h3> ^^^^ Click above!</h3>
<hr>
<h3>Current Contracts </h3>
<p> <% @freelancer.contracts.each do |contract| %> </p>
        <p> contract </p>
        <%= link_to contract, contract_path(contract)%>
    <%end%>
<hr>
<h3> Want to log out?</h3>
<%= button_to "Logout", logout_path, method: :get %>
<hr>
<hr>

<br/>
<h4>To Delete Your Profile Click The Button Below</h4>
<%= form_for @freelancer, method: :delete do | f | %>
<h3 style="color: Red;">CAUTION THIS WILL DELETE YOUR ENTIRE PROFILE!!!</h3>
<%= f.submit "Delete Your Account" %>
<%end%>