
<% if session[:id] != nil && session[:identify] == "Poster"%>
<h1>Reviews of Freelancers</h1>
<br/>
    <h2><%= link_to 'Back to your Profile', poster_path(session[:id])%></h2>
    <br/>
    <h2><%= link_to 'Make a Review', new_review_path %></h2>
    <hr>
    <br/>
    <% @reviews.each do |review| %>
        <p>Freelancer: <%= link_to review.freelancer.full_name, review_path(review) %> </p> 
        <p>Review: <%= review.review %> </p> 
        <p>Rating: <%= review.rating %> </p> 
        <hr>
    <%end%>
    

<% elsif session[:id] != nil && session[:identify] == "Freelancer" %>
<h1>Reviews of Posters</h1>
<br/>
    <h2><%= link_to 'Back to your Profile', freelancer_path(session[:id])%></h2>
    <br/>
    <h2><%= link_to 'Write a Review', new_review_path %></h2>
    <hr>
    <br/>
    <% @reviews.each do |review| %>
        <p>Job Poster: <%= link_to review.poster.full_name, review_path(review) %> </p> 
        <p>Review: <%= review.review %> </p> 
        <p>Rating: <%= review.rating %> </p> 
        <hr>
    <%end%>
<%end%>