<!DOCTYPE html>
<html>
  <head>
    <title>BorgLancer Freelancer Jobs</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <style>

  body{
    background-color: grey;
    }
  nav{
    background-color: white;
  }
  </style>
  <nav> 
          <p style="word-spacing:5px;">
          
              
          <%=link_to 'Home', home_page_path%>
          <%=link_to 'About', about_page_path%>

              <%if session[:id] != nil%>
                  <%=link_to 'Welcome', welcome_page_path%>
                  <%=link_to 'Jobs', jobs_path%>
                  <%=link_to 'Reviews', reviews_path%>
                  <%=link_to 'Logout', logout_path, method: :delete%>

              <%else%>
                  <%=link_to 'Hire', new_poster_path%>
                  <%=link_to 'Find Job', new_freelancer_path%>
                  <%=link_to 'Sign In', sign_in_page_path%>
              <%end%>
          </p>
    </nav>

  <body>
    <%= yield %>
  </body>
  <footer>
    <hr>
          <p style="text-align: center;"> D.C., H-Town and FlatIron Proud! All Rights Reserved. Copyright © 2021 by TJ and Jesus</p>
  </footer>
</html>
