<!DOCTYPE html>
<html>
  <head>
    <title>FreelanceJobsApp</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <nav> 
          <ul>
              <li><%=link_to 'Home', home_page_path%></li>
              <li><%=link_to 'About', about_page_path%></li>
              <li><%=link_to 'Sign Up', new_poster_path%></li>
              <li>Sign In</li>
              <li>Logout</li>
          </ul>
    </nav>

  <body>
    <%= yield %>
  </body>
  <footer>
    <hr>
          <p> D.C., H-Town and FlatIron Proud! All Rights Reserved. Copyright © 2021 by TJ and Jesus</p>
  </footer>
</html>
