<!DOCTYPE html>
<html>
  <head>
    <title>FreelanceJobsApp</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <nav> 
          <p style="text-align:justify;">
              <%=link_to 'Home', home_page_path%>
              <%=link_to 'About', about_page_path%>
              <%=link_to 'Hire', new_poster_path%>
              <%=link_to 'Find Job', new_freelancer_path%>
              <%=link_to 'Sign In', sign_in_page_path%>
              <%=link_to 'Sign out', sign_out_path%>
          </p>
    </nav>

  <body>
    <%= yield %>
  </body>
  <footer>
    <hr>
          <p> D.C., H-Town and FlatIron Proud! All Rights Reserved. Copyright © 2021 by TJ and Jesus</p>
  </footer>
</html>
